# General
.DS_Store
Thumbs.db

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node.js dependencies
/node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular cache
/.angular/cache

# Environment and configuration files
.env
.env.*       # Ignora cualquier archivo .env con sufijos (e.g., .env.local, .env.production)
*.local.yaml # Archivos YAML específicos de desarrollo local
*.prod.yaml  # Archivos YAML específicos de producción
src/assets/config.yaml # Ignora configuraciones sensibles en YAML

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History and logs
.history/*
/coverage
/libpeerconnection.log
testem.log
typings/

# Sass cache
.sass-cache/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git-specific
.git/
.gitignore
.gitattributes

# Security-related
src/environments/environment.ts # Ignora configuraciones sensibles en entornos
src/environments/environment.prod.ts # Ignora configuraciones sensibles en producción
src/assets/config.yaml # Ignora configuraciones YAML sensibles
src/assets/config.prod.yaml # Ignora configuraciones YAML de producción

# Miscellaneous
/connect.lock
/coverage
