<app-main-header></app-main-header>
<app-nav-bar></app-nav-bar>
  <!-- Interfaz de Registro de Citas -->
  <div class="actions-bar">
    <div class="date-section">
      <label for="fecha">Fecha:</label>
      <input
        type="date"
        id="fecha"
        [(ngModel)]="selectedDate"
        (change)="onDateChange()"
      />
      <span class="formatted-date">{{ formattedDate }}</span>
    </div>
  
    <div class="buttons-section">
      <fa-icon (click)="buscar()" [icon]="faSearch"></fa-icon>
      <fa-icon (click)="imprimir()" [icon]="faPrint"></fa-icon>
    </div>
  </div>
  
  <div class="observaciones-section">
    <label for="observaciones">OBSERVACIONES:</label>
    <textarea
      id="observaciones"
      rows="2"
      [(ngModel)]="observaciones"
    ></textarea>
    <button (click)="guardarObservaciones()">Guardar</button>
  </div>
  
  <table class="citas-table">
    <thead>
      <tr>
        <th>HORA INICIO</th>
        <th>HORA FIN</th>
        <th>TORRE</th>
        <th>PACIENTE</th>
        <th>PROCEDIMIENTO</th>
        <th>TELEFONO</th>
        <th>SEGURO</th>
        <th>CONF.</th>
        <th>OBSERVACIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let cita of citas"
        [ngStyle]="{ 'background-color': cita.colorCita || '#FFFFFF' }"
      >
        <td>{{ cita.horaInicio }}</td>
        <td>{{ cita.horaFin }}</td>
        <td>{{ cita.torre }}</td>
        <td>{{ cita.paciente }}</td>
        <td>{{ cita.procedimiento }}</td>
        <td>{{ cita.telefono }}</td>
        <td>{{ cita.seguro }}</td>
        <td>{{ cita.confirmado === 'si' ? 'CONFIRMADO' : 'PENDIENTE' }}</td>
        <td>{{ cita.observaciones }}</td>
      </tr>
    </tbody>
  </table>
  